<%- include('./partials/header.ejs') %>
<div class="modal-root" id="modal-mobilemayhaveissues">
  <div class="modal-backdrop"></div>
  <div class="modal">
    <h1><%=langs[selected].mobileMayBeWorseModal.title%></h1>
    <p><%=langs[selected].mobileMayBeWorseModal.desc%></p>
    <button>OK</button>
  </div>
</div>
<main>


  <div class="main-container" id="cv">

    <div class="header">
      <h1 id="header-title"><%=langs[selected].header.name%></h1>
      <p id="header-catchphrase"><%=langs[selected].header.catchPhrase%></p>
      <hr>
    </div>

    <div id="cards-container">

      <div class="card" id="card-contact">

        <div>
          <i class="fa-solid fa-phone"></i>
          <span><%=langs[selected].contact.phone%></span>
        </div>

        <div>
          <i class="fa-solid fa-house"></i>
          <span><%=langs[selected].contact.address%></span>
        </div>

        <div>
          <i class="fa-solid fa-calendar-days"></i>
          <span><%=langs[selected].contact.bday%></span>
        </div>

        <div>
          <i class="fa-solid fa-car"></i>
          <span><%=langs[selected].contact.canDrive%></span>
        </div>

        <div>
          <i class="fa-brands fa-linkedin"></i>
          <a href="https://linkedin.com<%=langs[selected].contact.linkedin%>"><%=langs[selected].contact.linkedin%></a>
        </div>

        <div>
          <i class="fa-brands fa-github"></i>
          <a href="https://github.com<%=langs[selected].contact.github%>"><%=langs[selected].contact.github%></a>
        </div>

      </div>

      <div class="card" id="card-softskills">

        <div>
          <h2><%=langs[selected].softskills.langsTitle%></h2>
          <%langs[selected].softskills.langs.forEach(lang => {%>
          <p><%=lang%></p>
          <%});%>
        </div>

        <div>
          <h2><%=langs[selected].softskills.interestsTitle%></h2>
          <%langs[selected].softskills.interests.forEach(int => {%>
          <div id="card-softskills-interest">
            <%-int.icon%>
            <p><%=int.title%></p>
          </div>
          <%});%>
        </div>

        <div>
          <h2><%=langs[selected].softskills.devLangsToolsTitle%></h2>
          <div id="card-softskills-devicons">
            <%langs[selected].softskills.devLangsTools.forEach(lang => {%>
            <%-lang%>
            <%});%>
          </div>
        </div>

      </div>

      <div class="card card-formations">
        <h2><%=langs[selected].formationsTitle%></h2>
        <% for (let i=0;i<3;i++) { const e = langs[selected].formations[i];%>
        <div class="formation">
          <%-e.icon%>
          <div class="infos">
            <h3><%=e.title%></h3>
            <p><%=e.dateLocation%></p>
          </div>
        </div>
        <% } %>
        <div class="see-more-online">
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <p><%=langs[selected].seeMoreOnline%></p>
        </div>
        <div class="formation see-more" id="see-more-formations">
          <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
          <p><%=langs[selected].seeMore%></p>
        </div>
      </div>

      <div class="card card-jobs">
        <h2><%=langs[selected].jobsTitle%></h2>
        <% for (let i=0;i<2;i++) { const j = langs[selected].jobs[i];%>
        <div class="job">
          <div class="infos">
            <i class="fa-solid fa-briefcase"></i>
            <h3><%=j.name%></h3>
            <p><%=j.dateLocation%></p>
            <a href="<%=j.link%>"><i class="fa-solid fa-link"></i></a>
          </div>
          <ul>
            <%j.whatDidIDo.forEach(w => {%>
            <li><%=w%></li>
            <%})%>
          </ul>
        </div>
        <% } %>
        <div class="see-more-online">
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <p><%=langs[selected].seeMoreOnline%></p>
        </div>
        <div class="job see-more infos" id="see-more-jobs">
          <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
          <p><%=langs[selected].seeMore%></p>
        </div>
      </div>

      <div class="card" id="card-qr">
        <p><%=langs[selected].footer%></p>
        <div id="qrcode"></div>
      </div>

      <div class="card" id="card-footer">
        <p><%=langs[selected].footerReal%></p>
      </div>

    </div>
  </div>
</main>

<div class="modal-root formations-details">
  <div class="modal-backdrop"></div>
  <div class="modal card card-formations">
    <% for (let i=0;i<langs[selected].formations.length;i++) { const e = langs[selected].formations[i];%>
    <div class="formation">
      <%-e.icon%>
      <div class="infos">
        <h3><%=e.title%></h3>
        <p><%=e.dateLocation%></p>
      </div>
    </div>
    <% } %>
  </div>
</div>

<div class="modal-root jobs-details">
  <div class="modal-backdrop"></div>
  <div class="modal card card-jobs">
    <% for (let i=0;i<langs[selected].jobs.length;i++) { const j = langs[selected].jobs[i];%>
    <div class="job">
      <div class="infos">
        <i class="fa-solid fa-briefcase"></i>
        <h3><%=j.name%></h3>
        <p><%=j.dateLocation%></p>
        <a href="<%=j.link%>"><i class="fa-solid fa-link"></i></a>
      </div>
      <ul>
        <%j.whatDidIDo.forEach(w => {%>
        <li><%=w%></li>
        <%})%>
      </ul>
    </div>
    <% } %>
  </div>
</div>


<button id="savetopdf">Save to PDF</button>
<%- include('./partials/footer.ejs') %>